{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Compass Starter by Ariona, Rian</title>

	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
	<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Loading main css file -->
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'css/team.css' %}">
</head>


<body>

	<div class="site-content">
		<div class="site-header">
			<div class="container">
				<a href="{% url 'get_weather' %}" class="branding">
					<img src="{% static 'images/logo.png' %}" alt="" class="logo">
					<div class="logo-type">
						<h1 class="site-title">Weather Wise</h1>
						<small class="site-description">tagline goes here</small>
					</div>
				</a>

				<!-- Default snippet for navigation -->
				<div class="main-navigation">
					<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
					<ul class="menu">
						<li class="menu-item"><a href="{% url 'get_weather' %}">Home</a></li>
						<li class="menu-item"><a href="{% url 'news' %}">News</a></li>
						<li class="menu-item"><a href="{% url 'photos' %}">Photos</a></li>
						<li class="menu-item  current-menu-item "><a href="{% url 'contact' %}">Contact</a></li>
					</ul> <!-- .menu -->
				</div> <!-- .main-navigation -->

				<div class="mobile-navigation"></div>

			</div>
		</div> <!-- .site-header -->

		<main class="main-content">
			<div class="container">
				<div class="breadcrumb">
					<a href="{% static 'weather.html' %}">Home</a>
					<span>Contact</span>
					</div>
					                <!-- 新增的整行模块 -->
									<div class="row">
										<div class="col-12">
											<section id="team" class="team team-section">
												<div class="container">
													<div class="row">
														<div class="col-lg-12">
															<div class="section-title mx-auto text-center">
																<span></span>
																<h2>Our Amazing Team</h2>
																<p></p>
															</div>
														</div>
													</div>
					
													<div class="row">
														<div class="col-xl-4 col-lg-4 col-sm-6">
															<div class="single-team wow fadeInUp" data-wow-delay=".1s">
																<div class="team-image-wrapper">
																	<div class="team-image" >
																		<img src="{% static 'images/team/team-06.jpg' %}" alt="team"  />
																	</div>
																</div>
																<div class="team-info">
																	<h5>QQ</h5>
																	<h6>App Developer</h6>
																</div>
																<ul class="team-socials">
																	<li>
																		<a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
																	</li>
																	<li>
																		<a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a>
																	</li>
																	<li>
																		<a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="col-xl-4 col-lg-4 col-sm-6">
															<div class="single-team wow fadeInUp" data-wow-delay=".15s">
																<div class="team-image-wrapper">
																	<div class="team-image">
																		<img src="{% static 'images/team/team-05.JPG' %}" alt="team" />
																	</div>
																</div>
																<div class="team-info">
																	<h5>ZCH</h5>
																	<h6>Product Designer</h6>
																</div>
																<ul class="team-socials">
																	<li>
																		<a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
																	</li>
																	<li>
																		<a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a>
																	</li>
																	<li>
																		<a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="col-xl-4 col-lg-4 col-sm-6">
															<div class="single-team wow fadeInUp" data-wow-delay=".2s">
															  <div class="team-image-wrapper">
																<div class="team-image">
																  <img src="{% static 'images/team/team-01.png' %}" alt="team" />
																</div>
															  </div>
															  <div class="team-info">
																<h5>ZJY</h5>
																<h6>App Developer</h6>
															  </div>
															  <ul class="team-socials">
																<li>
																  <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
																</li>
																<li>
																  <a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a>
																</li>
																<li>
																  <a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a>
																</li>
															  </ul>
															</div>
														  </div>
														  <div class="col-xl-4 col-lg-4 col-sm-6">
															<div class="single-team wow fadeInUp" data-wow-delay=".25s">
															  <div class="team-image-wrapper">
																<div class="team-image">
																  <img src="{% static 'images/team/team-03.png' %}" alt="team" />
																</div>
															  </div>
															  <div class="team-info">
																<h5>QZP</h5>
																<h6>Content Writer</h6>
															  </div>
															  <ul class="team-socials">
																<li>
																  <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
																</li>
																<li>
																  <a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a>
																</li>
																<li>
																  <a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a>
																</li>
															  </ul>
															</div>
														  </div>

												  
														<div class="col-xl-4 col-lg-4 col-sm-6">
															<div class="single-team wow fadeInUp" data-wow-delay=".15s">
																<div class="team-image-wrapper">
																	<div class="team-image">
																		<img src="{% static 'images/team/team-02.png' %}" alt="team" />
																	</div>
																</div>
																<div class="team-info">
																	<h5>WXY</h5>
																	<h6>Product Designer</h6>
																</div>
																<ul class="team-socials">
																	<li>
																		<a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
																	</li>
																	<li>
																		<a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a>
																	</li>
																	<li>
																		<a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a>
																	</li>
																</ul>
															</div>
														</div>

													</div>
												</div>
											</section>
										</div>
									</div>
									<!-- 结束新增的整行模块 -->
					</div>
					

					<div class="fullwidth-block">
						<div class="container">
							<div class="col-md-5">
								<div class="contact-details">
									<div class="map"><iframe src="https://restapi.amap.com/v3/staticmap?location=113.028439,23.146825&zoom=15&size=460*300&key=13ff1bb0a5314d54676329fcc7beff1f" width="100%" height="100%" frameborder="0" style="border:0" sandbox=""></iframe></div>
									<div class="contact-info">
										<address>
											<img src="{% static 'images/icon-marker.png' %}" alt="">
											<p>Weather Wise INC. <br>
											Nanhai Campus ，South China Normal University</p>
										</address>

										<a href="#"><img src="{% static 'images/icon-phone.png' %}" alt="">+86 18603039376</a><br />
										<a href="#"><img src="{% static 'images/icon-envelope.png' %}" alt=""> https://github.com/FoxZhouu/WeatherWise</a>
									</div>
								</div>
							</div>

							<div class="col-md-6 col-md-offset-1">
								<h2 class="section-title">Contact us</h2>
								<p>If you have any questions or need further information, please feel free to contact us. We are here to help you!</p>
								<form action="#" class="contact-form">
									<div class="row">
										<div class="col-md-6"><input type="text" placeholder="Your name..."></div>
										<div class="col-md-6"><input type="text" placeholder="Email Addresss..."></div>
									</div>
									<div class="row">
										<div class="col-md-6"><input type="text" placeholder="Company name..."></div>
										<div class="col-md-6"><input type="text" placeholder="Website..."></div>
									</div>
									<textarea name="" placeholder="Message..."></textarea>
									<div class="text-right">
										<input type="submit" placeholder="Send message">
									</div>
								</form>

							</div>
						</div>
					</div>

					</main> <!-- .main-content -->

					<footer class="site-footer">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<form action="#" class="subscribe-form">
										<input type="text" placeholder="Enter your email to subscribe...">
										<input type="submit" value="Subscribe">
									</form>
								</div>
								<div class="col-md-3 col-md-offset-1">
									<div class="social-links">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>

							<p class="colophon">Weather Wise<a target="_blank" href="https://github.com/FoxZhouu/WeatherWise" title="Subscribe to us"> Subscribe to us</a>. </p>
						</div>
					</footer> <!-- .site-footer -->
					</div>

					<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
					<script src="{% static 'js/plugins.js' %}"></script>
					<script src="{% static 'js/app.js' %}"></script>

					</body>

					</html>